@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<div class="mb-3 text-end">
    <a type=button class="btn btn-success" asp-page=".\Edit"><i class="fa-solid fa-plus"></i></a>
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </span>
        </div>
    </div>
</form>


@*<table class="table table-hover table-bordered table-striped mt-3">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-primary" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id"><i class="fa-solid fa-eye"></i></a>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id"><i class="fa-solid fa-pencil"></i></a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
</table>*@

<div class="d-flex flex-wrap justify-content-between mt-3"> 
    @foreach(var restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="restaurant"/>
    }
</div>

<div>@Model.Message</div>

